SINPOSMART_CREDENTIAL_SYNC_TOKEN=
SINPOSMART_CREDENTIAL_EXPORT_USER_ID=tyfd01510
SINPOSMART_CREDENTIAL_SYNC_URL=http://100.114.126.58:8080/api/credential-sync
SINPOSMART_CREDENTIAL_SYNC_TIMEOUT_SECONDS=8
SINPOSMART_BACKEND_EVENT_URL=http://10.30.65.30:8080/api/sinposmart/events
