PPE_ACCOUNT=
PPE_PASSWORD=
HEADLESS=true
KEEP_BROWSER_OPEN=false
SELENIUM_TIMEOUT_SECONDS=60
SELENIUM_REMOTE_READY_TIMEOUT_SECONDS=180
SELENIUM_REMOTE_URL=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_TO_USER_ID=
LINE_TO_USER_IDS=
SEND_LINE_RESULT=true
